<app-header></app-header>
<div class="accueil">
  <div class="contenBanniere">
    <div class="left ms-5">
      <span class="fw-bold " id="bien">Bienvenu sur</span>
      <p class="titre text-white fw-bold">KAAY <br>ENTREPRENDRE</p>
      <p class="text-white">Bienvenue sur KAAY ENTREPRENDRE, l'endroit où l'expérience rencontre l'innovation, et où les entrepreneurs chevronnés partagent leur sagesse avec ceux qui débutent leur parcours entrepreneurial.</p>
    </div>
    <div class="right">
      <img src="/assets/images/Polygon 1.png" alt="polygone" id="polygone">
    </div>
  </div>
  <div class="soft container">
    <div class="skill card container pt-4"><p><span class="fw-bold">CREATIVITE</span><br><br>
      La créativité est une force qui transcende les barrières de la pensée conventionnelle, un élan d'inspiration qui donne naissance à l'extraordinaire à partir de l'ordinaire
    </p></div>
    <div class="skill card container pt-4 isactive"><p><span class="fw-bold">MOTIVATION</span> <br><br>
      La motivation est le moteur invisible qui propulse les individus vers leurs aspirations les plus profondes. C'est la flamme intérieure qui illumine le chemin vers la réalisation de nos rêves, 
    </p></div>
    <div class="skill card container pt-4 mx-auto"><p><span class="fw-bold">RIGUEUR</span> <br><br>
      La rigueur est la boussole qui guide l'individu vers l'excellence. C'est une qualité intrinsèque qui transcende la simple discipline pour devenir le pilier sur lequel repose la réussite.
    </p></div>
  </div>

  <div class="about container">
    <div class="aboutleft">
      <img src="https://img.freepik.com/free-photo/woman-with-mobile-phone-lady-with-documents_1157-46418.jpg?size=626&ext=jpg&ga=GA1.1.522834921.1700648147&semt=ais" alt="" height="580px" width="500px">
    </div>
    <div class="aboutright mt-5">
      <h6 class="fw-bold bien">Qui sommes-nous?</h6>
      <h3 class="fw-bold">KAAY ENTREPRENDRE</h3><br><br>
      <p class="desc">KAAY ENTREPRENDRE est bien plus qu'une simple plateforme, c'est une communauté dynamique où l'expertise et l'enthousiasme se rencontrent. Nous avons créé cet espace pour favoriser la collaboration entre les entrepreneurs chevronnés, riches de leur expérience, et les esprits novices, assoiffés de connaissances. Notre objectif est de faciliter l'échange de savoir-faire, de stimuler l'innovation et de propulser les entrepreneurs vers le succès.</p>
      <ul class="perform mt-5">
        <li><i class="bi bi-check-circle-fill"></i>&nbsp;&nbsp;Ressources de Qualité</li>
        <li><i class="bi bi-check-circle-fill"></i>&nbsp;&nbsp;Réseau Dynamique </li>
        <li><i class="bi bi-check-circle-fill"></i>&nbsp;&nbsp;Événements et Ateliers</li>
        <li><i class="bi bi-check-circle-fill"></i>&nbsp;&nbsp;Espace de Collaboration</li>
      </ul>

      <div class="bottom">
        <p class="fw-bold"><span class="stat">15 ans</span><br>EXPERIENCE</p>
        <p class="fw-bold"><span class="stat">25+</span><br>ENTREPRENEURS</p>
        <p class="fw-bold"><span class="stat">500+</span><br>UTILISATEURS</p>
      </div>
    </div>
  </div>

  <h2 class="fw-bold mt-5 container">Modeles de reussite</h2>
  <div class="modele container mt-3">
    <div class="card container pt-3"><p><i class="bi bi-chat-fill"></i><br><br><span class="fw-bold title">Darray Technologie</span><br><br>Darray  Technologie est un projet de grande envergure a l'approche inclusif dans le numerique</p></div>
    <div class="card container pt-4 isactive"><p><i class="bi bi-pencil-fill text-white"></i><br><span class="fw-bold title ">JangLein</span><br> <br>Le projet "ÉducatioFutur" vise à révolutionner le système éducatif en mettant en œuvre des solutions novatrices pour préparer les apprenants aux défis du futur.</p></div>
    <div class="card container pt-4"><p><i class="bi bi-house-fill"></i><br><span class="fw-bold title">Sama Gokh</span><br> <br>Le projet "Communauté Harmonieuse" vise à promouvoir une vie en communauté épanouissante et à renforcer l'interaction entre les citoyens et la mairie</p></div>
  </div>

  <div class="event container">
    <div class="eventleft ">
      <h2 class="fw-bold ">Nos evenements</h2>
      <p class="desc">Sur notre plateforme dédiée à l'entrepreneuriat, nous sommes fiers de vous offrir un éventail dynamique d'ateliers et d'événements conçus pour stimuler la croissance et le succès dans tous les secteurs. Notre engagement envers l'autonomisation entrepreneuriale se manifeste à travers une variété d'initiatives soigneusement élaborées pour répondre aux besoins diversifiés de la communauté entrepreneuriale. </p>
      <button class="btnAjout " [routerLink]="['/evenement']">Voir plus</button>
    </div>
    <div class="eventright">
      <img src="https://img.freepik.com/premium-photo/rear-view-audience-wearing-listening-speakers-via-interpreter-headset-stage_41418-2937.jpg?size=626&ext=jpg&ga=GA1.1.522834921.1700648147&semt=sph" alt="" id="image1">
      <img src="https://img.freepik.com/premium-photo/speaker-business-conference-presentation_327072-14703.jpg?size=626&ext=jpg&ga=GA1.1.522834921.1700648147&semt=sph" alt="" id="image2">
      <img src="https://img.freepik.com/premium-photo/business-conference-presentation-audience-conference-hall_561846-816.jpg?size=626&ext=jpg&ga=GA1.1.522834921.1700648147&semt=sph" alt="" id="image3">
    </div>
  </div>

  <div class="temoignage container">
    <h2>Temoignage</h2>
    <div class="botem my-5">
      <div class="card container pb-2 pt-5">
        <p>"Communauté Harmonieuse" aspire à créer un environnement où chaque individu se sent valorisé, connecté et engagé dans le développement de sa communauté. En unissant nos forces, nous construirons un lieu où il fait bon vivre pour tous.</p>
        <div class="bottomTem d-flex">
          <img src="https://img.freepik.com/free-photo/handsome-african-american-man-with-beard-turn-face-camera-smiling-confident-standing-pink-background_1258-77841.jpg?size=626&ext=jpg&ga=GA1.1.522834921.1700648147&semt=sph" alt="" id="rounded">
          <p class=" mt-2 ms-3"><span class="fw-bold ">Amadem Fall</span><br>Developpeur web</p>
        </div>
      </div>
      <div class="card container pt-5">
        <p>Rejoignez-nous dès aujourd'hui et faites partie d'une communauté qui valorise le partage de connaissances, la croissance personnelle et le succès collectif. Ensemble, nous construisons un avenir entrepreneurial brillant et prometteur</p>
        <div class="bottomTem d-flex">
          <img src="https://img.freepik.com/premium-photo/portrait-professional-black-woman-with-business-leadership-job-management-planning-conference-room-young-employee-worker-corporate-person-with-employees-workflow-career-mindset_590464-158053.jpg?size=626&ext=jpg&ga=GA1.1.522834921.1700648147&semt=sph" alt="" id="rounded">
          <p class=" mt-2 ms-3"><span class="fw-bold">Fatima Tall</span><br>Developpeuse web</p>
        </div>
      </div>
    </div>
      
  </div>
</div>

<app-footer></app-footer>