input, textarea{
    border-bottom: 2px solid #60b8c4;
}
.btnAjout{
    background-color: #60b8c4;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
}
.btnClose{
    outline: 1px solid #60b8c4;
    color: #60b8c4;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    background-color: white;
}
.logo{
    height: 200px;
}
.imageProfil{
    width: 100px;
    height: 100px;
    margin-top: 15% ;
    border-radius: 20px;
    margin-left: 45%;
}
.bouton{
    display: flex;
}
.desc{
    margin-right: 12% !important;
    /* border: 1px solid red; */
}



.isactive{
    background-color: white;
    color: #60b8c4 !important;
    border-top-right-radius:50px ;
    border-bottom-right-radius:50px ;
    width: 92%;
}
.navbar{
    margin-left: 15%;
    background-color: #60b8c4;
}

.navbar-brand-wrapper{
    background-color: #60b8c4;
  border: 5px solid #60b8c4;
  margin-left: -17.5%;
  width: 130px;

}

.menuside{
    font-size: 17px !important;
}
.containerdetail{
    width: 90%;
    height: 60vh;
    margin: 10% auto;
    margin-top: 20% !important;
}
.containerdetail .image{
    background-color: #60b8c4;
    width: 420px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 34px
}
.containerdetail .image img{
    border-radius: 10px;
    width: 410px;
    height: 300px;
}

/* media queries */
@media (max-width:730px){
    .top {
        /* border: 1px solid red; */
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    .desc{
        display: grid;
        grid-template-columns: 1fr;
    }

}

