<app-header></app-header>
<div class="contenBanniere">
    <div class="left ms-5">
        <span class="fw-bold " id="bien">Bienvenu sur</span>
        <p class="titres text-white fw-bold">Details Etude Cas</p>
        <p class="text-white">Bienvenue sur KAAY ENTREPRENDRE, l'endroit où l'expérience rencontre l'innovation, et où
            les entrepreneurs chevronnés partagent leur sagesse avec ceux qui débutent leur parcours entrepreneurial.
        </p>
    </div>
</div>
<div class="container mt-5">
    <div class="contenu">
        <div class="image">
            <div class="imgPricinpal">
                <img src="https://th.bing.com/th/id/OIP.00qvNI09--jfKx9VlBr8ZQAAAA?pid=ImgDet&w=196&h=294&c=7" alt="">
            </div>
        </div>
        <div class="infos">
            <h3>MLT Connecte</h3>
            <h6>COMPRENDRE ET TIRER PROFIT DE LA RÉVOLUTION NUMÉRIQUE</h6>
        </div>
    </div>
    <div class="descEven mb-5">
        <p>MTL connecte est un événement annuel à portée internationale organisé par l’OBNL Printemps numérique. Ce
            rassemblement
            d’entrepreneurs, de chercheurs, de décideurs, d’acteurs d’industries et d’artistes vise à faire comprendre
            les défis et
            les enjeux de la révolution numérique tout en présentant les opportunités et en apportant des solutions pour
            en tirer
            profit. C’est aussi l’occasion pour les participants d’agrandir leur réseau et développer des relations
            d’affaires et
            des collaborations.</p>
        <p>MTL connecte aborde le champ numérique de façon transversale, à travers ses impacts économiques, sociaux,
            culturels et
            environnementaux dans divers secteurs d’activités.</p>
        <p>MTL connecte est un événement éco-responsable qui souhaite prendre soin de sa planète. Ainsi, nous demandons
            à nos
            participants de :</p>
        <p>Ne pas imprimer vos billets : présentez votre code QR sur votre mobile à l’entrée de l’événement;
            Amenez vos tasses et vos gourdes réutilisables : des fontaines d’eau seront accessibles sur place, ainsi que
            des
            breuvages chauds offerts;
            Privilégiez les transports en commun : utilisez le métro, les lignes d’autobus de la STM ou venez en vélo
            BIXI;
            Veillez à nous remettre vos cordons de cocardes à la fin de l’événement : ils sont réutilisables.</p>
    </div>
</div>
<app-footer></app-footer>