.btnConnexion{
    background-color: #a7e0e0;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
}
#navbar{
    background-color: #60b8c4;
    border-bottom: 0.5px solid white;
}
.navbar-nav .nav-item .nav-link{
    color: white !important;
 
}
.current{
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.navbar-nav .nav-item .nav-link:hover{
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
}
@media (max-width:990px){
    #navbarText{
        margin-left: 45%;
    }
}