body {
    margin-top: 20px;
    background: #f6f9fc;
}
.containerCard{
    border-radius: 10px;
    margin: 50px auto;
}
input{
    border-bottom: 2px solid #60B8C4;
}

.account-block {
    padding: 0;
    background-image: url(https://img.freepik.com/free-photo/portrait-young-beautiful-woman-gesticulating_273609-40360.jpg?w=740&t=st=1702027573~exp=1702028173~hmac=ad044414dda8088425beeb5fa7700d2561c1c881010bf390c4aa53a2c580716e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}


.btn-theme {
    background-color: #60B8C4;
    border-color: #60B8C4;
    color: #fff;
    float: right;
}

.fond-btn {
    background-color: #D9B;
    color: #fff !important;
}

.bg{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
.clr{
    color: #60B8C4;
}