<app-header></app-header>
<div class="contenBanniere">
    <div class="left ms-5">
        <span class="fw-bold " id="bien">Bienvenu sur</span>
        <p class="titres text-white fw-bold">Evenements</p>
        <p class="text-white">Bienvenue sur KAAY ENTREPRENDRE, l'endroit où l'expérience rencontre l'innovation, et où
            les entrepreneurs chevronnés partagent leur sagesse avec ceux qui débutent leur parcours entrepreneurial.
        </p>
    </div>
</div>
<div class="container mt-5">
    <div class="search mt-4">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <input type="search">
    </div>
    <div class="cardArticles mt-5">
        <div class="itemArticles" *ngFor="let event of bdEvent">
            <img [src]="event.image" alt="">
            <h4>{{event.nom}}</h4>
            <p>{{event.type}}</p>
            <button class="iconedroite" [routerLink]="['/detailsEvenement']">
                Voir
            </button>
        </div>
    </div>
    <!-- pour la pagination -->
    <div class="d-flex justify-content-center my-5">
        <button class=" btn  btnClose me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
            Précédent
        </button>
        <button class="btn ms-2" *ngFor="let page of pages" (click)="pageActuelle= page"
            [ngClass]="{'btnClose':pageActuelle==page}">
            {{ page }}
        </button>
        <button class="btn btnClose ms-2" [disabled]="pageActuelle === totalPages"
            (click)="pageActuelle = pageActuelle + 1">
            Suivant
        </button>
    </div>
</div>
<app-footer></app-footer>
