.contenBanniere {
    margin-top: 5%;
    background-color: #60b8c4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 85vh;
    padding-top: 5%;
}
.titres {
    font-size: 70px;
}
.container .mesCartes {
    margin: 0 auto;
}

#carteProjet {
    width: 350px;
    padding: 8px;
    border-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.btnClose {
    outline: 1px solid #60b8c4;
    color: #60b8c4;
    font-weight: bold;
}
.consulter {
    font-size: 16px;
    float: right;
}
.cartes{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.even{
    background-color: #F6F6F6;
    width: 300px;
    height: 60vh;
    padding: 10px;
}
.iconedroite {
    float: right;
    margin: 5px 17px;
    color: #fff;
    background-color: #60B8C4;
    border: none;
    border-radius: 18px;
    width: 22%;
    font-weight: bold;
}
.cardEven{
    display: flex;
    margin-bottom: 5px;
}
.cardEven img {
   margin-right: 15px;
}
.num{
    color: #60B8C4 !important;
    font-size: 24px;
}

.pagination {
    background-color: #60B8C4;
    color: #fff;
}