<app-header></app-header>
<div class="contenBanniere">
    <div class="left ms-5">
        <span class="fw-bold " id="bien">Bienvenu sur</span>
        <p class="titres text-white fw-bold">FORUM</p>
        <p class="text-white">Bienvenue sur KAAY ENTREPRENDRE, l'endroit où l'expérience rencontre l'innovation, et où
            les entrepreneurs chevronnés partagent leur sagesse avec ceux qui débutent leur parcours entrepreneurial.
        </p>
    </div>
</div>
<div class="container">
    <div class="zone mt-5">
        <select class="form-select me-4 form" aria-label="Default select example">
            <option selected>Tout</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select me-4 form" aria-label="Default select example">
            <option selected>Secteur</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <button type="button" class="btn sms " data-bs-toggle="modal" data-bs-target="#exampleModal" >
            Message
        </button>
    </div>
    <div class="carteForum">
        <div class="card mb-3 mt-3 carteF" *ngFor="let forum of tabForum">
            <div class="row g-0 "  >
                <div class="col-md-3 ">
                    <img src="https://img.freepik.com/premium-photo/3d-rendering-profile-user-icon-symbols-background-blue-color-front-view_607106-10.jpg?w=740" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <p class="card-text">{{forum.message}}</p>
                        <p class="card-text mt-3">
                            <small class="text-body-secondary me-2"><i class="bi bi-chat-left me-1"></i>3 hours ago</small>
                            <small class="text-body-secondary"><i class="bi bi-clock"></i>14</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pour la pagination -->
    <div class="d-flex justify-content-center my-5">
        <button class=" btn  btnClose me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
            Précédent
        </button>
        <button class="btn ms-2" *ngFor="let page of pages" (click)="pageActuelle= page"
            [ngClass]="{'btnClose':pageActuelle==page}">
            {{ page }}
        </button>
        <button class="btn btnClose ms-2" [disabled]="pageActuelle === totalPages"
            (click)="pageActuelle = pageActuelle + 1">
            Suivant
        </button>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="message" [(ngModel)]="message"></textarea>
                <label for="floatingTextarea">Comments</label>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnClose" data-bs-dismiss="modal" (click)="ajouterforum()">Envoie</button>
                <button type="button" class="btn btnAjout" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>