<app-header></app-header>
<div class="contenBanniere">
    <div class="left ms-5">
        <p class="titres text-white fw-bold">PROFIL</p>
    </div>
</div>
<div class="container containerProfil mt-5 mb-5">
    <button class="btnAjout positionbtn ">Devenir Entrepreneur Experimenter</button>
    <div class="topcontainnerProfil mb-5">
        <img src="https://img.freepik.com/premium-photo/portrait-young-modern-muslim-beauty-wearing-traditional-islamic-clothes-plastic-pink-background-selective-focus-high-quality-photo_530697-27305.jpg?size=626&ext=jpg&ga=GA1.1.1650161440.1694444933&semt=ais"
            alt="" class="imageProfil">
    </div>
    <div class="container bottomcontainnerProfil mt-5 d-flex justify-content-between">
        <p> <span class="fw-bold">Nom Complet:</span> Aicha Dia</p>
        <p> <span class="fw-bold">Adresse:</span> Fass Delorme</p>
        <p> <span class="fw-bold">Region:</span> Dakar</p>
        <p> <span class="fw-bold"> Telephone:</span> 77 123 45 67</p>
    </div>
    <div class="text-center mt-5">
        <button class="btnAjout me-3">Modifier profil</button>
        <button class="btnAjout clrbtn" [routerLink]="['/login']" >Déconnexion</button>
    </div>

</div>
<app-footer></app-footer>
